<div class="comment-container col_12">
    {{#each this}}
    <section class="comment-wrapper">
        <div class="post-userinfo">
            <p>{{format_date created_at}} {{user.username}} wrote:</p>
        </div>
        <div class="comment-body">
            <h6>{{comment_text}}</h6>
        </div>
    </section>
    {{/each}}
</div>

<!--comment card -->
<section class="comment-card flex flex-col p-2 bg-white bg-opacity-25 rounded-md my-2">
  <!-- user and post stats -->
  <div class="flex items-center justify-between mb-2 py-1 px-3 bg-white rounded-md h-auto text-lg">
    <!-- username and post time -->
    <div>
      <p class="comment-username">Username</p>
    </div>
    <!-- post item stats -->
    <div class="text-right self-start text-sm">
      <p class="comment-date">Posted on: 01/02/03</p>
      <p class="comment-time">12:34 PM</p>
    </div>
  </div>
  <!-- comment -->
  <div class="bg-clip-box p-6 bg-clip-box bg-white rounded-md">
    <p class="comment-body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Voluptates possimus magni facere ab veniam eaque natus
      officiis deserunt adipisci est. Corrupti perspiciatis
      dolorem accusantium laudantium? Nemo saepe iusto quisquam
      officia!
    </p>
  </div>
</section>
<!-- end comment card -->