<div class="login-wrapper flex col_12">
    
    <form class="login-form center">

        <div class="col_12">
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>
        <div class="col_12">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div class="col_12">
            <button type="submit">Login</button>
        </div>
    </form>
</div>

<script src='/public/js/login.js'></script>