<div class=" absolute inset-0 flex flex-col min-h-0 min-w-0 ">
  <!-- nav -->
  {{#if logged_in}}
  {{>logged-in-nav}}
  {{else}}
  {{>logged-out-nav}}
  {{/if}}

  <!-- main -->
  <div class="flex-grow flex-col flex w-full h-full shadow-md">
    <div style="
            background-image: url('https://images.pexels.com/photos/11671289/pexels-photo-11671289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
          " class="bg-cover bg-fixed bg-center h-screen w-full px-3 flex flex-col md:items-baseline">


      {{!-- all the modals --}}
      {{!-- <!--signup--> --}}
      <div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50" id="signup-modal">
        <!--modal content-->

        <div
          class="text-center relative top-20 mx-3 sm:mx-auto p-5 border w-auto sm:w-96 shadow-lg h-3/5  rounded-md bg-white">
          <!-- x button -->
          <button id="signup-x-btn" type="button"
            class="absolute top-0 right-0 box-content w-4 h-4 pt-2 px-4 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"><svg
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>

          <section class="px-6 h-full w-full mt-10 mb-auto text-gray-800">

            <form id="signup-form">
              <div class="flex flex-col items-center justify-center lg:justify-start">

                <!-- Username input -->
                <div class="mb-6">
                  <input type="text"
                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="username-signup" placeholder="Username" required />
                </div>


                <!-- Email input -->
                <div class="mb-6">
                  <input type="text"
                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="email-signup" placeholder="Email address" required />
                </div>

                <!-- Password input -->
                <div class="mb-6">
                  <input type="password"
                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="password-signup" placeholder="Password" required />
                </div>

                <!-- Password input -->
                <div class="mb-6">
                  <input type="password"
                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="confirm-password-signup" placeholder="Confirm password" required />
                </div>
                <div class="text-center mx-3 ">
                  <input id="signup-submit" type="submit" value="Sign up"
                    class="px-2.5 py-2 bg-byb-orange-light w-full rounded-lg border border-byb-orange hover:bg-byb-orange focus:ring focus:outline-none focus:ring-byb-orange">
                  </input>
                  <p class="text-sm font-semibold mt-2 pt-1 mb-0">Have an account?
                    <span id="login-link"
                      class="text-blue-600 cursor-pointer hover:text-blue-700 focus:text-blue-700 transition duration-200 ease-in-out">Login</span>
                  </p>
                </div>
            </form>
          </section>
        </div>
      </div>
      {{!-- login --}}
      
      <div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50" id="login-modal">
        <!--modal content-->
        <div
          class="relative top-20 mx-3 sm:mx-auto p-5 border w-auto sm:w-96 shadow-lg h-1/2 text-center rounded-md bg-white">

          <button id="login-x-btn" type="button"
            class="absolute top-0 right-0 box-content w-4 h-4 pt-2 px-4 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"><svg
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>

          <section class="px-6 h-full w-full mt-10 mb-auto text-gray-800">
            <!-- form -->
            <form id="signin-form">
              <div class="flex flex-col items-center justify-center lg:justify-start">
                <!-- Email input -->
                <div class="mb-6">
                  <input type="text"
                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="email-signin" placeholder="Email address" required />
                </div>

                <!-- Password input -->
                <div class="mb-6">
                  <input type="password"
                    class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                    id="password-signin" placeholder="Password" required />
                </div>


                <div class="text-center mx-3 ">
                  <button id="signup-button" type="button"
                    class="px-2.5 py-2 bg-byb-orange-light w-full rounded-lg border border-byb-orange hover:bg-byb-orange focus:ring focus:outline-none focus:ring-byb-orange">
                    Sign Up
                  </button>

                  <input id="signin-submit" type="submit" value="Login"
                    class="px-2.5 py-2 my-3 bg-byb-orange-light w-full rounded-lg border border-byb-orange hover:bg-byb-orange focus:ring focus:outline-none focus:ring-byb-orange">
                  </input>
                  <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                    Don't have an account?
                    <span id="signup-link"
                      class="text-red-600 cursor-pointer hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out">Register</span>
                  </p>
                </div>
            </form>
          </section>
        </div>
      </div>
      {{!-- create post --}}
      
      <div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50" id="post-modal">
        <!--modal content-->
        <section
          class="relative text-center top-20 mx-3 mb-auto sm:mx-auto p-5 border w-auto sm:w-96 shadow-lg h-3/4 rounded-md bg-white">
          <!-- x button -->
          <button id="post-x-btn" type="button"
            class="absolute top-0 right-0 box-content w-4 h-4 pt-2 px-4 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"><svg
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>

          <!-- form -->
          <form method="get" id="post-form" onsubmit="newFormHandler()"
            class="px-6 mt-10 mb-3 w-full text-gray-800 max-h-32 flex flex-col items-center justify-center lg:justify-start">
            <!--form with: location name, address, rating, pet type, post body -->
            <div class="mb-6">
              <!-- location name -->
              <input type="text"
                class="form-control block w-full  mb-2 px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="location-name" name="location-name" placeholder="Location name" required />

              <!-- address -->
              <input type="text"
                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="location-address" name="location-address" placeholder="Location address" required />
              <!-- rating, pet type -->

              <div class="flex w-full text-left items-center justify-around my-2">
                <!-- rating -->
                <fieldset id="rating">
                  <legend class="font-bold">My rating:</legend>
                  <input type="radio" name="rate" value="1" required>
                  <label for="1">✪</label><br>
                  <input type="radio" name="rate" value="2">
                  <label for="2">✪✪</label><br>
                  <input type="radio" name="rate" value="2">
                  <label for="3">✪✪✪</label><br>
                  <input type="radio" name="rate" value="4">
                  <label for="4">✪✪✪✪</label><br>
                  <input type="radio" name="rate" value="5">
                  <label for="5">✪✪✪✪✪</label><br>
                </fieldset>
                <!-- pet type -->
                <fieldset id="pet-type" class="mb-2">
                  <legend class="font-bold">Pet type:</legend>
                  <input type="radio" name="pet" value="dog" required>
                  <label for="dog"> I have a dog</label><br>
                  <input type="radio" name="pet" value="cat">
                  <label for="cat"> I have a cat</label><br>
                </fieldset>
              </div>
              <!-- textarea -->
              <div class="flex flex-col justify-start mb-3 xl:w-96 max-h-fit">
                <label for="post-body" class="form-label inline-block mb-2 text-gray-700">Leave your
                  mark!</label>
                <textarea
                  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                  id="post-body" name="post-body" placeholder="Your review" required>
                  </textarea>
              </div>
              <!-- post btn -->
              <input id="post-submit" type="submit" value="Submit post"
                class="px-2.5 py-2 self-end my-3 bg-byb-orange-light w-full rounded-lg border border-byb-orange hover:bg-byb-orange focus:ring focus:outline-none focus:ring-byb-orange">
              </input>
          </form>
        </section>
      </div>
      {{!-- create comment --}}
      
      <div class="fixed hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50" id="comment-modal">
        <!--modal content-->
        <section
          class="relative text-center top-20 mx-3 mb-auto sm:mx-auto p-5 border w-auto sm:w-96 shadow-lg h-1/2 rounded-md bg-white">
          <!-- x button -->
          <button id="comment-x-btn" type="button"
            class="absolute top-0 right-0 box-content w-4 h-4 pt-2 px-4 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"><svg
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </button>
          <!-- form -->
          <form method="get" id="comment-form" onsubmit="commentFormHandler()"
            class="px-6 mt-10 mb-3 w-full text-gray-800 max-h-32 flex flex-col items-center justify-center lg:justify-start">
            <!-- textarea -->
            <div class="flex flex-col justify-start mb-3 xl:w-96 max-h-fit">
              <label for="form-comment-body" class="form-label inline-block mb-2 text-gray-700">Bark up this
                tree!</label>
              <textarea
                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                id="form-comment-body" name="form-comment-body" rows="3" placeholder="Your comment" required>
        </textarea>
            </div>
            <!-- post btn -->
            <input id="comment-submit" type="submit" value="Submit comment"
              class="px-2.5 py-2 self-end my-3 bg-byb-orange-light w-full rounded-lg border border-byb-orange hover:bg-byb-orange focus:ring focus:outline-none focus:ring-byb-orange">
            </input>

          </form>
        </section>
      </div>
      {{!-- <!-- textbox --> --}}
      <div
        class="flex flex-col lg:w-1/2 mt-10 bg-clip-box p-4 backdrop-blur-lg text-center sm:text-left rounded-md lg:mt-auto lg:mb-32">
        <p
          class="text-3xl lg:text-4xl  mb-4  text-white font-oswald  tracking-tight subpixel-antialiased underline underline-offset-4">
          Bring Your Buddy gets tails wagging all over
          the
          globe!
        </p><br>
        <p class="text-xl lg:text-2xl text-white font-open-sans">We're a social pet lover's blog & review site that
          helps you and your best friend sniff out new locations! Browse our user reviews on locations such as
          restaurants, hotels, parks and shops. <br><span class="font-bold"> Join our community, and find your next
            pet-stination today! </span></p>

      </div>

      {{!-- <!-- jump down --> --}}
      <a class="lg:hidden self-center mb-auto mt-auto lg:mt-auto backdrop-blur-md rounded-full drop-shadow animate-bounce content-center"
        href="#blog"><svg class="m-2 w-10 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="white" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5" />
        </svg></a>

    </div>
  </div>

  {{!-- <!-- recent --> --}}
  <container class="bg-olive bg-opacity-60">
    <div id="blog" class=" font-mon ml-6 mr-6 rounded-md h-auto p-2 text-3xl text-center mb-2">
      <p>Recent Posts</p>
    </div>
    {{#each reviews as |individual-post|}}
  </container>

</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/modal.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
